<configuration>
  <system.serviceModel>
    <services>
      <service name="WebService" behaviorConfiguration="b">
        <endpoint binding="basicHttpBinding" contract="IWebService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="b">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="wsdl" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>